:root {
  --open-sans: "Open Sans", sans-serif;
  --nunito-sans: "Nunito Sans", sans-serif;

  --accent-light: #FBB731;
  --accent-dark: #F37335;
  --dark: #443737;
  --light: #FFFFFF;
  --light-rgb: 255, 255, 255;
  --line: #DEDEDE;

  --tr: .2s;
}

body {
  font-family: var(--open-sans);
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1182px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

/* Header */

.header {
  border-bottom: 1px solid var(--line);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 56px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.logo {
  display: block;
  width: 176px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 47px;
  margin-left: min(10vw, 140px);
}

.nav-link {
  color: var(--dark);
  font-size: 20px;
  font-weight: 600;
  padding-top: 2px;
}

.nav-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 1.5px;
}

.nav-link:hover::after {
  background-color: var(--accent-light);
}

.cart {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
  font-size: 15px;
  font-weight: 700;
  position: relative;
  margin-right: 2px;
}

.cart::before {
  content: '';
  display: block;
  width: 30px;
  height: 26px;
  background-image: url(../images/cart.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.cart-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  font-size: 10px;
  color: var(--light);
  background-color: var(--accent-dark);
  border-radius: 100%;
  position: absolute;
  left: 17px;
  bottom: 0;
}

.button-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 14px;
  font-family: var(--nunito-sans);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
  background-color: var(--accent-light);
  border: none;
  border-radius: 5px; 
  padding: 5px 10px;
  transition: var(--tr);
}

.button-up:hover {
background-color: var(--accent-dark);
}

.button-up.hidden {
  opacity: 0;
}

.button-up.visible {
  opacity: 1;
}

/* Hero */

.hero {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding-top: 142px;
  padding-bottom: 142px;
}

.hero-contact {
  background-image: url(../images/contact/hero-contact.png);
}

.breadcrumbs {
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 16px;
  padding-left: 0;
  color: rgba(var(--light-rgb), .5);
  margin-top: 0;
  margin-bottom: 0;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '/';
  position: absolute;
  right: -11px;
}

.breadcrumbs-link {
  color: rgba(var(--light-rgb), .5);
}

.breadcrumbs-link:hover {
  color: var(--accent-light);
}

.hero-title {
  color: var(--light);
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 79px;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-description {
  max-width: 320px;
  margin: 0 auto;
  color: rgba(var(--light-rgb), .8);
  font-size: 15px;
  line-height: 160%;
}

/* Banner */

.banner {
  padding-top: 137px;
}

.banner-wrapper {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.banner-title {
  color: var(--light);
  font-family: var(--nunito-sans);
  font-size: 60px;
  font-weight: 900;
  line-height: 127%;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 11px;
}

.banner-title span {
  display: block;
  max-width: 95px;
  color: var(--light);
  font-family: var(--open-sans);
  font-size: 14px;
  font-weight: 600;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--accent-dark);
  border-radius: 14px;
  padding: 5px 0;
  margin-bottom: 4px;
}

.banner-description {
  max-width: 328px;
  margin-top: 0px;
  margin-bottom: 13px;
  color: rgba(var(--light-rgb), 0.8);
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
}

.banner-btn {
  display: block;
  max-width: 170px;
  font-size: 14px;
  font-family: var(--nunito-sans);
  font-weight: 700;
  line-height: 129%;
  text-transform: uppercase;
  text-align: center;
  color: var(--dark);
  background-color: var(--accent-light);
  border: none;
  border-radius: 5px; 
  padding: 20px 0;
  transition: var(--tr);
}

.banner-btn:hover {
  background-color: var(--accent-dark);
}

/* Menu */

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 34px;
}

.menu-title {
  color: var(--dark);
  font-family: var(--nunito-sans);
  font-size: 44px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 127%;
  text-transform: uppercase;
}

.menu-select {
  color: var(--dark);
  font-size: 15px;
  appearance: none;
  background-image: url(../images/menu/arrow.svg);
  background-size: 14px 10px;
  background-repeat: no-repeat;
  background-position: 89% center;
  border: 1px solid var(--line);
  /* height: 44px;
  width: 280px; */
  padding: 13px 28px;
  flex-basis: 279px;
  font-family: var(--dark);
  border-radius: 22px;
}

.menu-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 50px 20px;
}

.menu-thumb {
  width: 100%;
  height: 430px;
  position: relative;
  overflow: hidden;
}

.menu-thumb img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.menu-name {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: var(--nunito-sans);
  font-weight: 600;
  font-size: 30px;
  line-height: 127%;
  text-align: center;
  color: var(--dark);
}

.menu-price {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: rgba(68, 55, 55, .5);
}

.menu-btn {
  font-family: var(--nunito-sans);
  font-weight: 700;
  font-size: 14px;
  border: none;
  text-transform: uppercase;
  display: flex;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  padding-left: 28px;
  color: var(--dark);
  border-radius: 5px;
  width: 152px;
  height: 38px;
  background: var(--accent-light);
  transition: var(--tr);
}

.menu-btn-cart {
  margin-top: 4px;
  margin-right: 11px;
}

.menu-btn:hover {
  background-color: var(--accent-dark);
}

/* Footer */

.footer {
  background: #1E2F40;
  margin-top: 140px;
  padding-bottom: 78px;
}

.footer-wrapper {
  padding-top: 111px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 63px;
  height: 56px;
  background-image: url(../images/Logo_light.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6px;
}

.footer-title {
  font-family: var(--nunito-sans);
  font-weight: 800;
  font-size: 20px;
  line-height: 190%;
  text-transform: uppercase;
  color: var(--light);
  margin-top: 0;
  margin-bottom: 3px;
  /* margin-left: 0; */
}

.footer-item:nth-child(4) {
  margin-top: 2px;
  margin-right: 8px;
}

.footer-item:nth-child(3) {
  margin-left: 14px;
}

.footer-item:nth-child(2) {
  margin-left: -6px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-nav > a {
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), .9);
  margin-top: 9px;
  display: flex;
  flex-direction: column;
}

.footer-nav > a:hover {
  color: var(--accent-light);
}

.footer-list {
  margin-top: 0px;
  list-style-type: none;
  padding-left: 0;
  font-family: var(--open-sans);
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: var(--light);
  margin-left: 0;
}


li > span {
  margin-top: 10px;
  margin-bottom: 1px;
  display: block;
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: rgba(var(--light-rgb), .9);
}

.footer-list > li {
  margin-bottom: 13px;
}

.footer-tel {
  font-family: var(--nunito-sans);
  font-weight: 800;
  font-size: 20px;
  line-height: 190%;
  text-transform: uppercase;
  color: var(--accent-light);
}

.footer-tel:hover {
  color: var(--accent-dark);
}

/* Contacts */

.contact-main {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 1057px;
  margin: 140px auto 60px;
}

.contact-map {
  flex-basis: 680px;
}

.contact-adress {
  flex-basis: calc(100% - 680px - 20px);
  list-style-type: none;
  padding-left: 0;
}

.contact-adress > li:not(:last-child) {
  margin-bottom: 26px;
}

.contact-adress > li > span {
  display: block;
  color: var(--dark);
  font-size: 15px;
  line-height: 160%;
}

.contact-adress > li > span:first-child {
  font-family: var(--nunito-sans);
  font-size: 20px;
  font-weight: 700;
  line-height: 190%;
  text-transform: uppercase;
  margin-left: 3px;
  margin-bottom: 4px;
}

.contact-adress > li > span:last-child {
  font-weight: 700;
  margin-top: 10px;
}

.contact-additionally {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1057px;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
}

.contact-additionally > li {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-additionally > li::before {
  content: '';
  display: block;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-additionally > li:nth-child(1):before {
  background-image: url(../images/contact/01.svg);
}
.contact-additionally > li:nth-child(2):before {
  background-image: url(../images/contact/02.svg);
}
.contact-additionally > li:nth-child(3):before {
  background-image: url(../images/contact/03.svg);
}

.contact-info,
.contact-tel {
  display: block;
  color: var(--dark);
  font-family: var(--nunito-sans);
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  margin-top: 5px;
}

.contact-tel {
  transition: var(--tr);
}

.contact-tel:hover {
  color: var(--accent-light);
}

/* Media */

@media (max-width: 1080px) {
  .header-wrapper {
    gap: 40px;
  }
  .nav {
    margin-left: 0;
    gap: min(3vw, 30px);
  }
}

@media (max-width: 768px) {
  .logo {
    width: 150px;
    height: 47px;
  }
  .header-wrapper {
    gap: 45px;
  }
  .nav {
    margin-left: 0;
    gap: 22px;
  }
  .banner {
    padding-top: 72px;
  }
  .banner-wrapper {
    padding: 100px 40px;
  }
  .menu-header {
    margin-top: 80px;
  }
}